html,
body {
    font: 14px Segoe UI;
    margin: 0;
}

#app {
    display: block;
    justify-content: center;
}

header {
    padding: 0px 16px  16px;
    border: 1px solid;
    background-color: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: grid;
    text-align: center;
}

.fa-solid {
    padding-right: 10px;
    cursor: pointer;
}

ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
}

li {
    margin: 16px;
    border: 1px solid;
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 250px;
}

li > h2,h3,p {
    text-align: center;
}

li > h3 {
    display: inline;
    margin-left: 16px;
    margin-right: 16px;
}

img {
    margin: 0px 16px;
}

a {
    text-decoration: none;
}

.like-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: -6px;
    line-height: 22px;
    font-size: 18;
    color:grey;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.like-button:hover {
    background-color: rgb(224, 36, 94, 0.1);
}

.like-button-active {
    color: rgb(224, 36, 94);
}

button {
    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  
button:hover {
    background-color: black;
    color: white;
}

button:active {
    background-color: gray;
    color: white;
}

.button-active {
    background-color: black;
    color: white;
} 

.head {
    display: flex;
    justify-content: center;
    align-items: center;   
}